
/* Typography ******************************/
/* Nanum Square */
@font-face {
    font: {
        family: 'NanumSquare';
        style: normal;
        weight: 200;
        display: swap;
    }
    src: local("NanumSquare Light"), local("NanumSquare-Light"),
         url("../fonts/nanum-square/NanumSquareL.ttf") format("woff2"),
         url("../fonts/nanum-square/NanumSquareL.ttf") format("woff");
}
@font-face {
    font: {
        family: 'NanumSquare';
        style: normal;
        weight: 500;
        display: swap;
    }
    src: local("NanumSquare Bold"), local("NanumSquare-Bold"),
         url("../fonts/nanum-square/NanumSquareB.ttf") format("woff2"),
         url("../fonts/nanum-square/NanumSquareB.ttf") format("woff");
}
@font-face {
    font: {
        family: 'NanumSquare';
        style: normal;
        weight: 700;
        display: swap;
    }
    src: local("NanumSquare ExtraBold"), local("NanumSquare-ExtraBold"),
         url("../fonts/nanum-square/NanumSquareEB.ttf") format("woff2"),
         url("../fonts/nanum-square/NanumSquareEB.ttf") format("woff");
}