@charset "utf-8";
/* Reset ******************************/
* {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.03rem;
  line-height: 1.75;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

header, main, article, section, aside, footer, nav, div, span, ul, ol, li, a, p, form, select, option, input, details {
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* Typography ******************************/
/* Pretendard - static */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), local("Pretendard-Thin"), url("../fonts/Pretendard/static/woff2/Pretendard-Thin.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), local("Pretendard-ExtraLight"), url("../fonts/Pretendard/static/woff2/Pretendard-ExtraLight.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), local("Pretendard-Light"), url("../fonts/Pretendard/static/woff2/Pretendard-Light.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), local("Pretendard-Regular"), url("../fonts/Pretendard/static/woff2/Pretendard-Regular.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), local("Pretendard-Medium"), url("../fonts/Pretendard/static/woff2/Pretendard-Medium.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), local("Pretendard-SemiBold"), url("../fonts/Pretendard/static/woff2/Pretendard-SemiBold.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), local("Pretendard-Bold"), url("../fonts/Pretendard/static/woff2/Pretendard-Bold.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), local("Pretendard-ExtraBold"), url("../fonts/Pretendard/static/woff2/Pretendard-ExtraBold.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), local("Pretendard-Black"), url("../fonts/Pretendard/static/woff2/Pretendard-Black.woff2") format("woff2"), url("../fonts/Pretendard/static/woff/Pretendard-Black.woff") format("woff");
}
/* Pretendard - variable */
@font-face {
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 45 920;
  font-display: swap;
  src: local("Pretendard Variable"), local("Pretendard-Variable"), url("../fonts/Pretendard/variable/woff2/PretendardVariable.woff2") format("woff2");
}
/* Rozha One */
@font-face {
  font-family: "Rozha One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rozha One"), local("Rozha-One"), url("../fonts/Rozha_One/RozhaOne-Regular.ttf") format("woff2"), url("../fonts/Rozha_One/RozhaOne-Regular.ttf") format("woff");
}
/* Home ******************************/
.main .container {
  display: block;
  line-height: 1;
}
.main .container-01 > .background-image {
  width: 100%;
}
.main .container-02 {
  padding: 124px 17.75%;
}
.main .container-02:before {
  content: "";
  display: block;
  height: 49px;
  background: url("../images/article-02/double-quotation-marks-left.jpg") no-repeat center;
  margin-bottom: 52px;
}
.main .container-02:after {
  content: "";
  display: block;
  height: 49px;
  background: url("../images/article-02/double-quotation-marks-right.jpg") no-repeat center;
  margin-top: 77px;
}
.main .container-02 > .container__title {
  font-size: 2.3125rem;
  font-weight: 500;
  line-height: 1.25;
  color: #125335;
}
.main .container-02 > .container__subtitle {
  font-size: 2.3125rem;
  font-weight: 300;
  line-height: 1.25;
  color: #125335;
  margin-bottom: 48px;
}
.main .container-02 > .container__description {
  font-size: 1.063rem;
}
.main .container-03 {
  padding: 63px 3.25% 82px 3.25%;
}
.main .container-03 > .decoration-text {
  font-family: "Rozha One", serif;
  font-size: 2.25rem;
  color: #125335;
  margin-bottom: 14px;
}
.main .container-03 > .post > .post__image {
  width: 100%;
}
.main .container-03 > .post > .post__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0 6.42%;
  margin-top: 36px;
}
.main .container-03 > .post > .post__description {
  font-size: 1.25rem;
  padding: 0 6.42%;
  margin-top: 16px;
}
.main .container-04 {
  background-color: #fbfbfb;
  padding: 58px 0 77px 0;
}
.main .container-04 > .decoration-text {
  font-family: "Rozha One", serif;
  font-size: 2.25rem;
  color: #125335;
  padding: 0 3.25%;
  margin-bottom: 14px;
}
.main .container-04 > .post > .post__image {
  width: 100%;
  cursor: pointer;
}
.main .container-04 > .post > .post__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0 6.42%;
  margin-top: 36px;
}
.main .container-04 > .post > .post__description {
  font-size: 1.25rem;
  padding: 0 6.42%;
  margin-top: 16px;
}
.main .container-05 {
  background-color: #f3f3f3;
  padding: 58px 3.25% 77px 3.25%;
}
.main .container-05 > .decoration-text {
  font-family: "Rozha One", serif;
  font-size: 2.25rem;
  color: #125335;
  margin-bottom: 14px;
}
.main .container-05 > .post > .post__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 48px;
}
.main .container-05 > .post > .post__list:nth-child(even) {
  align-items: flex-end;
}
.main .container-05 > .post > .post__list:nth-child(even) > .post__content {
  flex-direction: row-reverse;
}
.main .container-05 > .post > .post__list:nth-child(even) > .post__content > .post__content-number:before {
  display: none;
}
.main .container-05 > .post > .post__list:nth-child(even) > .post__content > .post__content-number:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  width: 6px;
  height: 190px;
  background-color: #dff0e8;
}
.main .container-05 > .post > .post__list:last-child {
  margin-bottom: 0;
}
.main .container-05 > .post > .post__list > .post__image {
  width: 100%;
}
.main .container-05 > .post > .post__list > .post__content {
  display: flex;
  position: relative;
  margin-top: 24px;
}
.main .container-05 > .post > .post__list > .post__content > .post__content-number {
  font-family: "Rozha One", serif;
  font-size: 2.75rem;
  line-height: 1;
  color: #125335;
  padding-left: 40px;
  margin-right: 40px;
}
.main .container-05 > .post > .post__list > .post__content > .post__content-number:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 6px;
  height: 190px;
  background-color: #dff0e8;
}
.main .container-05 > .post > .post__list > .post__content > .post__content-description {
  width: 80%;
}
.main .container-05 > .post > .post__list > .post__content > .post__content-description > ul > .post__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
.main .container-05 > .post > .post__list > .post__content > .post__content-description > ul > .post__description {
  font-size: 1.25rem;
  margin-top: 16px;
}
.main .container-06 {
  padding: 58px 3.25% 77px 3.25%;
}
.main .container-06 > .decoration-text {
  font-family: "Rozha One", serif;
  font-size: 2.25rem;
  color: #125335;
  padding: 0 3.25%;
  margin-bottom: 14px;
}
.main .container-06 > .post > .post__image {
  width: 100%;
  margin-top: 38px;
}
.main .container-06 > .post > .post__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0 6.42%;
  margin-top: 40px;
}
.main .container-06 > .post > .post__description {
  font-size: 1.25rem;
  padding: 0 6.42%;
  margin-top: 16px;
}
.main .container-07 {
  background-color: #fbfbfb;
  padding: 58px 0 150px 0;
}
.main .container-07 > .decoration-text {
  position: relative;
  font-family: "Rozha One", serif;
  font-size: 2.25rem;
  color: #125335;
  padding: 0 5%;
  margin-bottom: 14px;
  z-index: 1;
}
.main .container-07 > .post {
  position: relative;
}
.main .container-07 > .post:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 50%;
  width: 94%;
  height: 120%;
  background-color: #dff0e8;
  transform: translateX(-50%);
  z-index: 0;
}
.main .container-07 > .post > .post__image {
  position: relative;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}
.main .container-07 > .post > .post__title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0 8%;
  margin-top: 40px;
  z-index: 1;
}
.main .container-07 > .post > .post__description {
  position: relative;
  font-size: 1.25rem;
  padding: 0 8%;
  margin-top: 16px;
  z-index: 1;
}
.main .container-08 {
  position: relative;
  padding: 38px 0;
}
.main .container-08:before, .main .container-08:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 6px;
  background: url("../images/article-08/article-08-image-01.jpg") no-repeat center/100%;
}
.main .container-08:after {
  top: auto;
  bottom: 0;
}
.main .container-08 > .decoration-text-2 {
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0 3.25%;
  margin-bottom: 12px;
}
.main .container-08 > .post > .post__list {
  margin-bottom: 70px;
}
.main .container-08 > .post > .post__list:last-child {
  margin-bottom: 0;
}
.main .container-08 > .post > .post__list > .post__image {
  width: 100%;
  cursor: pointer;
}
.main .container-08 > .post > .post__list > .post__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0 3.25%;
}
.main .container-08 > .post > .post__list > .post__description {
  font-size: 1.5rem;
  line-height: 1.25;
  padding: 0 3.25%;
  margin-bottom: 28px;
}
.main .container-09 {
  padding: 28px 0 40px 0;
}
.main .container-09 > .banner > .banner__list {
  line-height: 1;
  margin-bottom: 12px;
}
.main .container-09 > .banner > .banner__list:last-child {
  margin-bottom: 0;
}
.main .container-09 > .banner > .banner__list > .banner__image {
  width: 100%;
}

.footer {
  background-color: #156fb5;
}
.footer > .footer__sns {
  display: flex;
  justify-content: center;
  padding: 35px 0 40px 0;
}
.footer > .footer__sns > .sns__list {
  line-height: 1;
  margin-right: 10px;
}
.footer > .footer__sns > .sns__list:last-child {
  margin-right: 0;
}
.footer > .footer__sns > .sns__list > .button {
  width: 40px;
  height: 40px;
}
.footer > .text {
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.25;
  color: #fff;
  margin-bottom: 20px;
}
.footer > .text-01 {
  margin-bottom: 20px;
}
.footer > .text-02 {
  font-weight: 600;
  margin-bottom: 0;
}
.footer > .text:last-of-type {
  margin-bottom: 40px;
}
.footer > .text:last-of-type > .text-bold {
  font-weight: 600;
  margin-left: 12px;
}
.footer > .footer__image {
  position: relative;
  height: 90px;
  background-color: #205985;
}
.footer > .footer__image > .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (min-width: 540px) {
  .main .container-05 > .post > .post__list > .post__image {
    width: auto;
  }
  .main .container-06 > .post > .post__image {
    display: block;
    width: auto;
    margin: 0 auto;
    margin-top: 38px;
  }
}
/* Common ******************************/
.hidden-text {
  position: absolute;
  font-size: 0;
}

.link-button {
  font-weight: 600;
  text-decoration: underline;
  margin-left: 8px;
}