
/* Home ******************************/
// Fullpage Navigation START
#fp-nav {
    right: 24px !important;
    ul {
        > li {
            width: 10px !important;
            height: 10px !important;
            margin: 0 !important;
            margin-bottom: 12px !important;
            &:last-child {margin-bottom: 0 !important;}
            > a {
                > span {
                    top: 0 !important;
                    width: 10px !important;
                    height: 10px !important;
                    background-color: $color-white !important;
                    margin: 0 !important;
                    transform: translateX(-50%);
                }
                &.active {
                    > span {background-color: $background-color-02 !important;}
                }
            }
        }
    }
}
// Fullpage Navigation END
// 헤더 START
.header {
    position: fixed;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    z-index: 1;
    > .logo {
        width: 39.17%;
        z-index: 1;
        > .logo__anchor {
            display: block;
            font-size: 0;
            > img {width: 100%;}
        }
    }
    > .button {
        display: flex;
        display: none;
        align-items: center;
        height: 54px;
        font-size: 1.125rem;
        color: $text-color-02;
        background-color: $color-white;
        border-radius: 50px;
        padding: 0 24px;
        &:after {
            content: "";
            display: inline-block;
            width: 12px;
            height: 16px;
            background: url("../images/download-icon.jpg") no-repeat center;
            margin-left: 10px;
        }
    }
}
// 헤더 END
// 메인 START
.main {
    position: fixed;
    left: 24px;
    bottom: 3.58vh;
    z-index: 1;
    > .scroll {
        width: 68px;
        height: 78px;
        > img {
            position: absolute;
            top: 0;
            width: 100%;
            animation: scroll 0.8s 3 normal both;
        }
    }
    @keyframes scroll {
        from, 20%, 53%, to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, 0, 0);
        }
        40%, 43% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translate3d(0, -30px, 0) scaleY(1.1);
        }
        70% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translate3d(0, -15px, 0) scaleY(1.05);
        }
        80% {
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, 0, 0) scaleY(0.95);
        }
        90% {transform: translate3d(0, -4px, 0) scaleY(1.02);}
    }
}
// 메인 END
.section {
    position: relative;
    background-color: $background-color-01;
    padding: 0 24px;
    // 구역 1 START
    &#section0 {
        background: url("../images/sea.jpg") no-repeat 40% center / cover;
        > .fp-tableCell {
            > .headcopy {
                position: absolute;
                top: 22.10vh;
                left: 24px;
                width: 63.43%;
            }
            > .container {display: none;}
            > .button {
                position: absolute;
                left: 50%;
                bottom: 11.59vh;
                width: 173px;
                height: 61px;
                font: {
                    size: 1.25rem;
                    weight: 700;
                }
                text-align: center;
                color: $text-color-02;
                background-color: $color-white;
                border-radius: 50px;
                padding: 0 24px;
                transform: translateX(-50%);
                &:after {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 12px;
                    height: 16px;
                    background: url("../images/download-icon.jpg") no-repeat center;
                    margin-left: 10px;
                }
            }
        }
    }
    // 구역 1 END
    // 구역 2 START
    &#section1 {
        > .fp-tableCell {
            > .description {top: 68.82vh; width: 71%;}
            .image {
                bottom: 0;
                width: 255px;
                height: 171px;
                background: url("../images/ani-img01.png") no-repeat center / 100%;
                opacity: 0;
                &.active {
                    animation: slideInUp 0.7s 1 normal both;
                }
            }
            @keyframes slideInUp {
                from {
                    transform: translate3d(0, 100%, 0);
                    opacity: 0;
                }
                to {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
    // 구역 2 END
    // 구역 3 START
    &#section2 {
        > .fp-tableCell {
            > .description {top: 62.25vh; width: 60%;}
            > .image {
                bottom: 0;
                width: 252px;
                height: 213px;
                background: url("../images/ani-img02.png") no-repeat center / 100%;
                opacity: 0;
                &.active {
                    animation: slideInUp 0.7s 1 normal both;
                }
            }
            @keyframes slideInUp {
                from {
                    transform: translate3d(0, 100%, 0);
                    opacity: 0;
                }
                to {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
    // 구역 3 END
    // 구역 4 START
    &#section3 {
        > .fp-tableCell {
            > .description {top: 62.25vh; width: 61%;}
            > .image {
                right: 50px;
                width: 164px;
                height: 207px;
                background: url("../images/ani-img03.png") no-repeat center / 100%;
                opacity: 0;
                &.active {
                    animation: slideInLeft 0.7s 1 normal both;
                }
            }
            @keyframes slideInLeft {
                from {
                    transform: translate3d(100%, 0, 0);
                    opacity: 0;
                }
                to {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
    // 구역 4 END
    // 구역 5 START
    &#section4 {
        > .fp-tableCell {
            > .description {top: 62.25vh; width: 61%;}
            > .image {
                right: 68px;
                width: 245px;
                height: 192px;
                background: url("../images/ani-img04.png") no-repeat center / 100%;
                opacity: 0;
                &.active {
                    animation: slideInLeft 0.7s 1 normal both;
                }
            }
            @keyframes slideInLeft {
                from {
                    transform: translate3d(100%, 0, 0);
                    opacity: 0;
                }
                to {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
    // 구역 5 END
    // 구역 6 START
    &#section5 {
        background-color: $background-color-02;
        > .fp-tableCell {
            > .image {
                position: absolute;
                top: 22.76vh;
                left: 50%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: calc(100% - 72px);
                height: 192px;
                transform: translateX(-50%);
                > img {
                    &:first-of-type {width: 182px; height: 167px;}
                    &:last-of-type {width: 205px; height: 190px;}
                }
            }
            // 푸터 START
            .footer {
                position: absolute;
                bottom: 5.73vh;
                > .footer__lists {
                    > .footer__list {
                        margin-bottom: 10px;
                        &:last-child {margin-bottom: 0;}
                        > ul {
                            > li {
                                font-size: 1.125rem;
                                line-height: 1.5;
                                color: $color-white;
                                > address {
                                    font: {
                                        style: normal;
                                        size: 1.125rem;
                                    }
                                    line-height: 1.5;
                                }
                            }
                        }
                    }
                }
            }
            // 푸터 END
        }
    }
    // 구역 6 END
    > .fp-tableCell {
        > .headcopy {
            position: absolute;
            top: 22.46vh;
            left: 14px;
            width: 64.58%;
        }
        > .description {
            position: absolute;
            font-size: 1.125rem;
            color: $color-white;
        }
        > .image {
            position: absolute;
            right: 24px;
            bottom: 0;
            z-index: 1;
        }
    }
}


@media all and (min-width: 1366px) {
    // Fullpage Navigation START
    #fp-nav {
        right: 5% !important;
        ul {
            > li {
                width: 16px !important;
                height: 16px !important;
                margin-bottom: 3.15vh !important;
                > a {
                    > span {
                        width: 16px !important;
                        height: 16px !important;
                    }
                }
            }
        }
    }
    // Fullpage Navigation END
    // 헤더 START
    .header {
        top: 9.26vh;
        left: 50%;
        width: 1022px;
        padding: 0;
        transform: translateX(-50%);
        > .logo {
            width: 12.08vw;
            height: 6.48vh;
        }
        > .button {
            width: auto;
            height: 50px;
            font: {
                weight: 700;
            }
            padding: 0 24px;
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 12px;
                height: 16px;
                background: url("../images/download-icon.jpg") no-repeat center;
                margin-left: 10px;
            }
        }
    }
    // 헤더 END
    // 메인 START
    .main {
        left: 0;
        width: 100%;
        height: 96px;
        > .scroll {
            width: 100%;
            height: 100%;
            > img {
                left: 50%;
                width: 4.32%;
                height: auto;
                transform: translateX(-50%);
            }
        }
    }
    // 메인 END
    .section {
        padding: 0 calc((100% - 1022px) / 2);
        // 구역 1 START
        &#section0 {
            > .fp-tableCell {
                > .headcopy {
                    top: 0;
                    left: calc((100% - 1022px) / 2);
                    width: 21.82vw;
                    margin-top: 27.04vh;
                }
                > .container {
                    display: flex;
                    justify-content: space-between;
                    width: 1022px;
                    margin-top: 61.30vh;
                    > .content {
                        > .title {
                            font: {
                                size: 1.125rem; 
                            }
                            color: $color-white;
                            margin-bottom: 2.22vh;
                        }
                        > .buttonwrap {
                            display: flex;
                            > .button {
                                width: 12.81vw;
                                height: 7.78vh;
                                background-color: $color-white;
                                border-radius: 50px;
                                margin-right: 1.04vw;
                                &:last-of-type {margin-right: 0;}
                                > img {vertical-align: middle; width: 75%;}
                            }
                        }
                        > .qacode {
                            width: 10.05vw;
                            height: 18.15vh;
                            > img {width: 100%;}
                        }
                    }
                }
                > .button {display: none;}
            }
        }
        // 구역 1 END
        // 구역 2 START
        &#section1 {
            > .fp-tableCell {
                > .description {top: 0; width: 29%;}
                .image {
                    right: calc(((100% - 1022px) / 2) - 3.39vw);
                    width: 23.49vw;
                    height: auto;
                }
            }
        }
        // 구역 2 END
        // 구역 3 START
        &#section2 {
            > .fp-tableCell {
                > .description {top: 0; width: 28%;}
                > .image {
                    right: calc(((100% - 1022px) / 2) - 0.63vw);
                    width: 24.90vw;
                    height: auto;
                }
            }
        }
        // 구역 3 END
        // 구역 4 START
        &#section3 {
            > .fp-tableCell {
                > .description {top: 0; width: 30%;}
                > .image {
                    right: calc(((100% - 1022px) / 2) + 3.13vw);
                    width: 17.71%;
                    height: auto;
                }
            }
        }
        // 구역 4 END
        // 구역 5 START
        &#section4 {
            > .fp-tableCell {
                > .description {top: 0; width: 24%;}
                > .image {
                    right: calc(((100% - 1022px) / 2) + 3.13vw);
                    width: 23.02%;
                    height: auto;
                }
            }
        }
        // 구역 5 END
        // 구역 6 START
        &#section5 {
            > .fp-tableCell {
                > .image {
                    top: 12.78vh;
                    left: calc((100% - 1022px) / 2);
                    justify-content: flex-start;
                    align-items: flex-end;
                    width: 1022px;
                    height: 31.39vh;
                    transform: none;
                    > img {
                        &:first-of-type {width: auto; height: 86.73%; margin-right: 43px;}
                        &:last-of-type {width: auto; height: 100%;}
                    }
                }
                // 푸터 START
                .footer {
                    width: 100%;
                    bottom: 19.35vh;
                    > .footer__lists {
                        > .footer__list {
                            margin-bottom: 2.22vh;
                            > ul {
                                > li {font-size: 1.125rem;}
                            }
                        }
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 103px;
                        height: 103px;
                        background-color: $background-color-01;
                        border-radius: 50%;
                    }
                }
                // 푸터 END
            }
        }
        // 구역 6 END
        > .fp-tableCell {
            vertical-align: baseline !important;
            > .headcopy {
                position: relative;
                top: 0;
                left: calc((100% - 1044px) / 2);
                width: 23.23vw;
                margin-top: 25.37vh;
            }
            > .description {
                position: relative;
                font: {
                    size: 1.125rem;
                    weight: 200;
                }
                line-height: 1.5;
                margin-top: 2.22vh;
            }
        }
    }
}


@media all and (min-width: 1600px) {
    // Fullpage Navigation START
    #fp-nav {
        right: 15.68% !important;
        ul {
            > li {
                width: 16px !important;
                height: 16px !important;
                margin-bottom: 34px !important;
                > a {
                    > span {
                        width: 16px !important;
                        height: 16px !important;
                    }
                }
            }
        }
    }
    // Fullpage Navigation END
    // 헤더 START
    .header {
        top: 100px;
        left: 50%;
        width: 1022px;
        padding: 0;
        transform: translateX(-50%);
        > .logo {
            width: 232px;
            height: 70px;
        }
        > .button {
            height: 63px;
            font: {
                size: 1.375rem;
                weight: 700;
            }
            padding: 0 28px;
            &:after {
                content: "";
                display: inline-block;
                width: 12px;
                height: 16px;
                background: url("../images/download-icon.jpg") no-repeat center;
                margin-left: 10px;
            }
        }
    }
    // 헤더 END
    // 메인 START
    .main {
        left: 0;
        width: 100%;
        height: 96px;
        > .scroll {
            width: 100%;
            height: 100%;
            > img {
                left: 50%;
                width: 83px;
                height: 96px;
                transform: translateX(-50%);
            }
        }
    }
    // 메인 END
    .section {
        padding: 0 calc((100% - 1022px) / 2);
        // 구역 1 START
        &#section0 {
            > .fp-tableCell {
                > .headcopy {left: calc((100% - 1022px) / 2); width: 418px;}
                > .container {
                    display: flex;
                    justify-content: space-between;
                    width: 1022px;
                    > .content {
                        > .title {font-size: 1.125rem; color: $color-white; margin-bottom: 2.22vh;}
                        > .buttonwrap {
                            display: flex;
                            > .button {
                                width: 246px;
                                height: 84px;
                                background-color: $color-white;
                                border-radius: 50px;
                                margin-right: 20px;
                                &:last-of-type {margin-right: 0;}
                            }
                        }
                        > .qacode {width: 192px;}
                    }
                }
                > .button {display: none;}
            }
        }
        // 구역 1 END
        // 구역 2 START
        &#section1 {
            > .fp-tableCell {
                > .description {top: 0; width: 29%;}
                .image {
                    right: calc(((100% - 1022px) / 2) - 3.39vw);
                    width: 23.49vw;
                    height: auto;
                }
            }
        }
        // 구역 2 END
        // 구역 3 START
        &#section2 {
            > .fp-tableCell {
                > .description {top: 0; width: 28%;}
                > .image {
                    right: calc(((100% - 1022px) / 2) - 0.63vw);
                    width: 24.90vw;
                    height: auto;
                }
            }
        }
        // 구역 3 END
        // 구역 4 START
        &#section3 {
            > .fp-tableCell {
                > .description {top: 0; width: 30%;}
                > .image {
                    right: calc(((100% - 1022px) / 2) + 3.13vw);
                    width: 17.71%;
                    height: auto;
                }
            }
        }
        // 구역 4 END
        // 구역 5 START
        &#section4 {
            > .fp-tableCell {
                > .description {top: 0; width: 24%;}
                > .image {
                    right: calc(((100% - 1022px) / 2) + 3.13vw);
                    width: 23.02%;
                    height: auto;
                }
            }
        }
        // 구역 5 END
        // 구역 6 START
        &#section5 {
            > .fp-tableCell {
                > .image {
                    top: 12.78vh;
                    left: calc((100% - 1022px) / 2);
                    justify-content: flex-start;
                    align-items: flex-end;
                    width: 1022px;
                    height: 31.39vh;
                    transform: none;
                    > img {
                        &:first-of-type {width: auto; height: 86.73%; margin-right: 43px;}
                        &:last-of-type {width: auto; height: 100%;}
                    }
                }
                // 푸터 START
                .footer {
                    width: 100%;
                    bottom: 19.26vh;
                    > .footer__lists {
                        > .footer__list {
                            margin-bottom: 2.22vh;
                            > ul {
                                > li {font-size: 1.125rem;}
                            }
                        }
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: calc(((100vw - 1022px) / 2) + 15.47vw);
                        bottom: 0;
                        width: 103px;
                        height: 103px;
                        background-color: $background-color-01;
                        border-radius: 50%;
                    }
                }
                // 푸터 END
            }
        }
        // 구역 6 END
        > .fp-tableCell {
            vertical-align: baseline !important;
            > .headcopy {
                position: relative;
                top: 0;
                left: calc((100% - 1044px) / 2);
                width: 23.23vw;
                margin-top: 25.37vh;
            }
            > .description {
                position: relative;
                font: {
                    size: 1.125rem;
                    weight: 200;
                }
                line-height: 1.5;
                margin-top: 2.22vh;
            }
        }
    }
}