// Default Color
$color-black: #000;
$color-white: #fff;
$color-red: #ff0000;
$color-yellow: #fff000;
$color-blue: #000fff;
$color-green: #008000;

// Text Color
$text-color-01: #125335;
$text-color-02: #ef4b70;
$text-color-03: #d3bcbe;
$text-color-04: #2f1964;
$text-color-05: #5c2216;

// Bacgkround Color
$background-color-01: #fbfbfb;
$background-color-02: #f3f3f3;
$background-color-03: #dff0e8;
$background-color-04: #156fb5;
$background-color-05: #205985;

// Border Color
$border-color-01: #78787a;
$border-color-02: #6b2594;

// Button Color
$button-color-01: #f44a6f;
$button-color-02: #fff16c;
$button-color-03: #a0db5d;