
/* Home ******************************/
.main {
    .container {
        display: block;
        line-height: 1;
        // 메인 START
        &-01 {
            > .background-image {width: 100%;}
        }
        // 메인 END
        // 지속가능한 서울 START
        &-02 {
            padding: 124px 17.75%;
            &:before {
                content: "";
                display: block;
                height: 49px;
                background: url("../images/article-02/double-quotation-marks-left.jpg") no-repeat center;
                margin-bottom: 52px;
            }
            &:after {
                content: "";
                display: block;
                height: 49px;
                background: url("../images/article-02/double-quotation-marks-right.jpg") no-repeat center;
                margin-top: 77px;
            }
            > .container {
                &__title {
                    font: {
                        size: 2.3125rem;
                        weight: 500;
                    }
                    line-height: 1.25;
                    color: $text-color-01;
                }
                &__subtitle {
                    font: {
                        size: 2.3125rem;
                        weight: 300;
                    }
                    line-height: 1.25;
                    color: $text-color-01;
                    margin-bottom: 48px;
                }
                &__description {font-size: 1.063rem;}
            }
        }
        // 지속가능한 서울 END
        // MICE TREND START
        &-03 {
            padding: 63px 3.25% 82px 3.25%;
            > .decoration-text {
                font: {
                    family: "Rozha One", serif;
                    size: 2.25rem;
                }
                color: $text-color-01;
                margin-bottom: 14px;
            }
            > .post {
                > .post__image {width: 100%;}
                > .post__title {
                    font: {
                        size: 1.5rem;
                        weight: 600;
                    }
                    line-height: 1.25;
                    padding: 0 6.42%;
                    margin-top: 36px;
                }
                > .post__description {font-size: 1.25rem; padding: 0 6.42%; margin-top: 16px;}
            }
        }
        // MICE TREND END
        // SMA INSIDER START
        &-04 {
            background-color: $background-color-01;
            padding: 58px 0 77px 0;
            > .decoration-text {
                font: {
                    family: "Rozha One", serif;
                    size: 2.25rem;
                }
                color: $text-color-01;
                padding: 0 3.25%;
                margin-bottom: 14px;
            }
            > .post {
                > .post__image {width: 100%; cursor: pointer;}
                > .post__title {
                    font: {
                        size: 1.5rem;
                        weight: 600;
                    }
                    line-height: 1.25;
                    padding: 0 6.42%;
                    margin-top: 36px;
                }
                > .post__description {font-size: 1.25rem; padding: 0 6.42%; margin-top: 16px;}
            }
        }
        // SMA INSIDER END
        // SCB NEWS START
        &-05 {
            background-color: $background-color-02;
            padding: 58px 3.25% 77px 3.25%;
            > .decoration-text {
                font: {
                    family: "Rozha One", serif;
                    size: 2.25rem;
                }
                color: $text-color-01;
                margin-bottom: 14px;
            }
            > .post {
                > .post__list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 48px;
                    &:nth-child(even) {
                        align-items: flex-end;
                        > .post__content {
                            flex-direction: row-reverse;
                            > .post__content-number {
                                &:before {display: none;}
                                &:after {
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    right: 0;
                                    width: 6px;
                                    height: 190px;
                                    background-color: $background-color-03;
                                }
                            }
                        }
                    }
                    &:last-child {margin-bottom: 0;}
                    > .post__image {width: 100%;}
                    > .post__content {
                        display: flex;
                        position: relative;
                        margin-top: 24px;
                        > .post__content-number {
                            font: {
                                family: "Rozha One", serif;
                                size: 2.75rem;
                            }
                            line-height: 1;
                            color: $text-color-01;
                            padding-left: 40px;
                            margin-right: 40px;
                            &:before {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                width: 6px;
                                height: 190px;
                                background-color: $background-color-03;
                            }
                        }
                        > .post__content-description {
                            width: 80%;
                            > ul {
                                > .post__title {
                                    font: {
                                        size: 1.5rem;
                                        weight: 600;
                                    }
                                    line-height: 1.25;
                                }
                                > .post__description {
                                    font-size: 1.25rem;
                                    margin-top: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        // SCB NEWS END
        // 럭셔리 투어 START
        &-06 {
            padding: 58px 3.25% 77px 3.25%;
            > .decoration-text {
                font: {
                    family: "Rozha One", serif;
                    size: 2.25rem;
                }
                color: $text-color-01;
                padding: 0 3.25%;
                margin-bottom: 14px;
            }
            > .post {
                > .post__image {width: 100%; margin-top: 38px;}
                > .post__title {
                    font: {
                        size: 1.5rem;
                        weight: 600;
                    }
                    line-height: 1.25;
                    padding: 0 6.42%;
                    margin-top: 40px;
                }
                > .post__description {font-size: 1.25rem; padding: 0 6.42%; margin-top: 16px;}
            }
        }
        // 럭셔리 투어 END
        // 케이스 스터디 START
        &-07 {
            background-color: $background-color-01;
            padding: 58px 0 150px 0;
            > .decoration-text {
                position: relative;
                font: {
                    family: "Rozha One", serif;
                    size: 2.25rem;
                }
                color: $text-color-01;
                padding: 0 5%;
                margin-bottom: 14px;
                z-index: 1;
            }
            > .post {
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: -100px;
                    left: 50%;
                    width: calc(100% - 6%);
                    height: 120%;
                    background-color: $background-color-03;
                    transform: translateX(-50%);
                    z-index: 0;
                }
                > .post__image {
                    position: relative;
                    width: 100%;
                    cursor: pointer;
                    z-index: 1;
                }
                > .post__title {
                    position: relative;
                    font: {
                        size: 1.5rem;
                        weight: 600;
                    }
                    line-height: 1.25;
                    padding: 0 8%;
                    margin-top: 40px;
                    z-index: 1;
                }
                > .post__description {
                    position: relative;
                    font-size: 1.25rem;
                    padding: 0 8%;
                    margin-top: 16px;
                    z-index: 1;
                }
            }
        }
        // 케이스 스터디 END
        // 버추얼 서울 2.0 론칭 홍보 영상 START
        &-08 {
            position: relative;
            padding: 38px 0;
            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 6px;
                background: url("../images/article-08/article-08-image-01.jpg") no-repeat center / 100%;
            }
            &:after {top: auto; bottom: 0;}
            > .decoration-text-2 {
                font: {
                    size: 1.75rem;
                    weight: 600;
                }
                padding: 0 3.25%;
                margin-bottom: 12px;
            }
            > .post {
                > .post__list {
                    margin-bottom: 70px;
                    &:last-child {margin-bottom: 0;}
                    > .post__image {width: 100%; cursor: pointer;}
                    > .post__title {
                        font: {
                            size: 1.5rem;
                            weight: 600;
                        }
                        line-height: 1.25;
                        padding: 0 3.25%;
                    }
                    > .post__description {
                        font-size: 1.5rem;
                        line-height: 1.25;
                        padding: 0 3.25%;
                        margin-bottom: 28px;
                    }
                }
            }
        }
        // 버추얼 서울 2.0 론칭 홍보 영상 END
        // 배너 모음 START
        &-09 {
            padding: 28px 0 40px 0;
            > .banner > .banner__list {
                line-height: 1;
                margin-bottom: 12px;
                &:last-child {margin-bottom: 0;}
                > .banner__image {width: 100%;}
            }
        }
        // 배너 모음 END
    }
}
.footer {
    background-color: $background-color-04;
    > .footer__sns {
        display: flex;
        justify-content: center;
        padding: 35px 0 40px 0;
        > .sns__list {
            line-height: 1;
            margin-right: 10px;
            &:last-child {margin-right: 0;}
            > .button {
                width: 40px;
                height: 40px;
            }
        }
    }
    > .text {
        font-size: 1.125rem;
        text-align: center;
        line-height: 1.25;
        color: $color-white;
        margin-bottom: 20px;
        &-01 {margin-bottom: 20px;}
        &-02 {font-weight: 600; margin-bottom: 0;}
        &:last-of-type {
            margin-bottom: 40px;
            > .text-bold {font-weight: 600; margin-left: 12px;}
        }
    }
    > .footer__image {
        position: relative;
        height: 90px;
        background-color: $background-color-05;
        > .image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media all and (min-width: 540px) {
    .main {
        // 메인 START
        .container {
            // SCB NEWS START
            &-05 {
                > .post {
                    > .post__list {
                        > .post__image {width: auto;}
                    }
                }
            }
            // SCB NEWS END
            // 럭셔리 투어 START
            &-06 {
                > .post {
                    > .post__image {
                        display: block;
                        width: auto;
                        margin: 0 auto;
                        margin-top: 38px;
                    }
                }
            }
            // 럭셔리 투어 END
        }
        // 메인 END
    }
}

@media all and (min-width: 800px) {
    .main {
        // 메인 START
        .container {
            &-01 {
                
            }
        }
        // 메인 END
    }
}