#header {
    align-items: center;
    background-color: var(--color-surface-container-lowest);
    border-bottom: 1px solid var(--color-surface-container-highest);
    display: flex;
    height: 60px;
    padding: 0 20px;
}